{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="auth-box">

    <h2>Create Account</h2>

    <form action="{{ url_for('auth.register') }}" method="POST">

        <div class="form-group">
            <label for="username">Create an username</label>
            <input
                type="text"
                id="username"
                name="username"
                placeholder="Enter username.."
                required
            >
        </div>

        <div class="form-group">
            <label for="password">Create a password</label>
            <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter password.."
                required
            >
        </div>

        <button type="submit" class="btn">
            Register
        </button>

    </form>

    <p>
        Already have an account?
        <a href="{{ url_for('auth.login') }}">Login</a>
    </p>

</div>

{% endblock %}

